#story_container{
  width: 30vw;
  height: 90vh;
  border: 3px solid #a10000;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;
}

#container{
  display: flex;
  flex-direction: row;
}

.jr-maze {
  position: relative;
  display: block;
  margin-left: 30vw;
}

.wanderer{
  z-index: 100;
}

.debug{
  z-index: 99;
  background-color: #a10000;
  width: 100%;
  height: 100%;
  opacity: 33%;
}